
{% extends 'travel_packages/package_template.html' %}
{% block content %}
<head>
    {% load static %}
    <link href="{% static 'css/index.css'%}" rel="stylesheet" />
</head>

<body>


  <div class="search-wrapper">
    <div class="search-box">
      <form method="get" action="{% url 'searchPackages' %}" class="search-form">

        <div class="search-inputs">
          <input type="text" name="t" id="t" placeholder="Destination" >
          <span class="search-divider">|</span>
          <input type="date" name="date" id="date" placeholder="Date">
        </div>

        <div class="search-btn-wrapper">
          <div class="search-btn-inner">
            <button type="submit" class="search-btn">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>

  <div class="cards-wrapper">
    <div class="cards-grid" id="content">
 {% for package in packages %}
    <a class="card-link" href="{% url 'packageDetails' package.package_id %}">
    
        <div class="card-img-wrapper">
                <img
                class="card-img"
                src="{{ package.images.first.image_path }}"
                alt="{{ package.name }}"
            />
            <div class="card-badge">
                ⭐ {{ package.avg_rating|default:"0" }} Out of 5
            </div>
        </div>
        <div class="card-info">
            <h3 class="card-name">{{ package.name }}</h3>
            <p class="card-location">{{ package.location }}</p>
            <p class="card-price">Rs. {{ package.price }}</p>
        </div>
    </a>
{% endfor %}
      {% comment %} 
    
      try {
        $travelPackageObj = new Travel($conn);
        $activityData = $travelPackageObj->getAllAvailableTravelPackages();

        foreach ($activityData as $data) {
          if (!empty($data['images'])) {
            $imagePath = str_replace('../', '', $data['images'][0]);
          }
          echo "
          <a class='card-link' href='travelPackage.php?package={$data['package_id']}'>
            <div class='card-img-wrapper'>
              <img
                class='card-img'
                src='{$imagePath}'
                alt='{$data['name']}'
              />
              <div class='card-badge'>
                ⭐ {$data['avg_rating']} Out of 5
              </div>
            </div>
            <div class='card-info'>
              <h3 class='card-name'>{$data['name']}</h3>
              <p class='card-location'>{$data['location']}</p>
              <p class='card-price'>Rs. {$data['price']}</p>
            </div>
          </a>";
        }
      } catch (Exception $e) {
        echo $e->getMessage();
      }
      ?> {% endcomment %}
    </div>
  </div>

</body>
</html>
{% endblock %}