
{% extends 'travel_packages/package_template.html' %}
{% load static %}

{% block content %}

<head>
    <link href="{% static 'css/details.css' %}" rel="stylesheet" />
    
</head>


<main class="activity-container">
    <div class="image-gallery">
        <div class="image-grid-container" id="imageGridContainer">

            {% for image in package.images.all %}
                {% if forloop.first %}
                    <img class="main-grid-image" src="{{ image.image_path }}" alt="Activity Image" />
                {% else %}
                    <img class="sub-grid-image" src="{{ image.image_path }}" alt="Activity Image" />
                {% endif %}
            {% endfor %}

        </div>
    </div>

    <div class="details">
        <h1 id="activityTitle">{{ package.name }}</h1>

        <p class="location" id="activityLocation">
            <span class="location-text">{{ package.location }}</span>
        </p>

        <p class="rating" id="activityRating">
            <i class="fas fa-star" style="color: #FFD700; font-size: 13px;"></i>
            {{ package.avg_rating|default:"0" }} out of 5
        </p>

        <p class="description" id="activityDescription">{{ package.description }}</p>

        <div class="tags" id="activityTags">
            <span><b>Nrs : </b>{{ package.price }}</span>
            <span><b>{{ available_slots }}</b> Slots Remaining</span>
            <span><b>Date : </b>{{ package.starting_date }}</span>
        </div>

        <div class="check-availability-container">
            {% comment %} {% if available_slots <= 0 or available_slots == None %}
                <button class="check-btn-disabled" disabled>Unavailable</button>
            {% else %} {% endcomment %}
                <button class="check-btn" id="openSlots">Book Now!</button>
            {% comment %} {% endif %} {% endcomment %}
        </div>
    </div>
</main>
<script defer src="{% static 'js/details.js' %}"></script>
<div id="slotOverlay" class="overlay">
    <div class="popup">
        <div class="close" id="closeOverlay" aria-label="Close"></div>
        <h2 class="popup-title">Booking</h2>
        <div id="slotsContainer">
            <div class="max-w-lg p-4 mx-auto bg-white border border-gray-100 shadow-lg booking-container rounded-2xl">
                {% url 'process_booking' as booking_url %}
                <form action="{{ booking_url }}" method="POST" id="bookingForm" class="space-y-6">
                    {% csrf_token %}
                        <input type="hidden" name="package_id" value="{{ package.id }}">

                    {% if available_slots > 1 %}
                          <div id="bookingDetails" class="pt-4 space-y-4 border-t ">
                        <div class="grid gap-4">
                            <label class="block mb-2 text-sm font-semibold text-gray-600">No of Slots</label>
                            <select name="no-of-slots" required class="w-full p-3 border border-gray-300 outline-none no-of-slots bg-gray-50 rounded-xl">
                                <option value="" selected disabled>Select Slots</option>
                                {% for i in slots_range %}
                                    <option value="{{ i }}" class="py-2 text-gray-700 bg-white">{{ i }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                  

                            <button type="submit" name="submit_booking"  class="w-full py-4 font-bold text-white transition-all bg-red-500 shadow-lg rounded-xl hover:bg-red-600 active:scale-95">
                                Confirm Booking
                            </button>
                        </div>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>

{% endblock %}