   <div>
   <nav
       class="w-screen h-16  bg-white flex justify-between items-center *:mx-28  shadow-md ">
       <a class="text-2xl font-bold cursor-pointer" href="{% url 'homepage' %}">
    <i class="fa-solid fa-plane-departure"></i> Travel Booking
</a>
       <div class="relative flex flex-col items-center">
           
           
{% if user.is_authenticated %}
   <div class="flex items-center justify-center text-sm font-bold rounded-full cursor-pointer select-none bg-slate-100 h-9 w-9 avatar">
      {{ user.first_name|slice:":1"|upper }}{{ user.last_name|slice:":1"|upper }}
    </div>
{% else %}
<div class="flex items-center justify-center w-64 ">
               <a href="/auth/signup" class="px-3 py-2 mx-2 font-semibold text-white bg-red-500 rounded-lg">Sign Up</a>
               <a href="/auth/login" class="px-3 py-2 mx-2 font-semibold text-red-500 border-2 border-red-500 rounded-lg">Log In</a>
           </div>
{% endif %}

                

           <div
               class="*:cursor-pointer 
                 *:font-semibold *:text-lg *:transition-all *:duration-500   absolute shadow-md   avatar-menu p-2 bg-white opacity-0 -translate-y-48   rounded-b-xl transition-all font-semibold duration-700 w-44 h-48 hidden flex-col items-center justify-around">
               <a href="/profile/manage"
                   class="hover:bg-[#2B2D42] rounded-xl hover:text-white w-[90%] py-2 text-center">
                   Manage profile
        </a>
               <a href="/profile/recent-booking"
                   class="hover:bg-[#2B2D42] rounded-xl hover:text-white w-[90%] py-2 text-center">
                   View Booking
        </a>



               <a href="/auth/logout"
                   class="bg-[#EF233C] log-out text-center
                     hover:bg-[#A41728] text-white w-3/4 rounded-2xl py-2">
                   Log Out
               </a>
           </div>
       </div>
   </nav>

{% if not user.is_authenticated %}
<div class="flex items-center h-10 mx-2 bg-red-300 rounded-b-md ">
    <p class="px-5 text-xl">Log in to unlock full access to all website features.</p>'
   </div> 
{% endif %}
   </div>
   <script>
       const avatar = document.querySelector(".avatar");

       const avatarMenu = document.querySelector(".avatar-menu");
       if (avatarMenu && avatar) {
           avatar.addEventListener("click", () => {
               if (!avatarMenu.classList.contains("translate-y-14")) {
                   avatarMenu.classList.toggle("hidden");
                   avatarMenu.classList.toggle("flex");
                   setTimeout(() => {
                       avatarMenu.classList.toggle("translate-y-14");
                       avatarMenu.classList.toggle("-translate-y-48");
                   }, 0)
               } else {

                   avatarMenu.classList.toggle("translate-y-14");
                   avatarMenu.classList.toggle("-translate-y-48");
                   setTimeout(() => {
                       avatarMenu.classList.toggle("hidden");
                       avatarMenu.classList.toggle("flex");
                   }, 500)
               }

               avatarMenu.classList.toggle("opacity-0");

           });
       }
   </script>